In [1]:
print("cheers to writing my first code on here") #"print is a command that outputs text to the screen", single quote ' can also be used

cheers to writing my first code on here

In [2]:
print("hello \"Everyone\"") #This command \" is an escape sequence that allows you to use double quotes inside a string

hello "Everyone"

In [3]:
print("peju\n") #\n is an escape sequence that creates a new line

peju

In [4]:
print("sokunle")

sokunle

In [5]:
print("peju\nsokunle") #This will print peju and sokunle on different lines

peju
sokunle

In [6]:
print("my full name is:\n\t-peju\n\t-tiwatope\n\t-sokunle") #\t is an escape sequence that adds a tab space

my full name is:
	-peju
	-tiwatope
	-sokunle

In [7]:
  #Variables are used to store data values
name = "peju sokunle"   #string variable
age = "25" #string variable 
address = "lagos, nigeria"  #string variable
height = 5.6  #float variable
is_student = True  #boolean variable
religion = "Christianity"  #string variable
print(name),print(age),print(address),print(height),print(is_student),print(religion) #printing multiple variables
print(name, age, address, height, is_student, religion) #printing multiple variables in a single print statement

peju sokunle
25
lagos, nigeria
5.6
True
Christianity
peju sokunle 25 lagos, nigeria 5.6 True Christianity

In [8]:
x = 10  #integer variable
y = 20  #integer variable
sum = x + y  #adding two integer variables  
print("the sum of", x, "and", y, "is", sum)  #printing the sum of two integer variables

the sum of 10 and 20 is 30

In [9]:
x = 10  #integer variable
y = 20  #integer variable
sum = x + y  #adding two integer variables  
print("the sum of", x, "and", y, "is", sum)  #printing the sum of two integer variables

the sum of 10 and 20 is 30

In [10]:
#Input function allows you to take input from the user
#Static values are values that do not change, while dynamic values are values that can change based on user input or other factors.
input("enter your name:")
name = input("enter your name") #input is stored in a variable

enter your name: peju
enter your name peju

In [11]:
#("enter your name") is a dynamic value, it is the data entered by the user and varies each time it runs
country = "germany" #germany is a static value, it remains same untill it is changed manually
religion = "christian"
print(name, "comes from", country, "i am a", religion)

peju comes from germany i am a christian

In [12]:
#Type Function is used to determine the data type of a variable
text = "peju"
number = 20
print(len(text))
#print(len(number)) only works for strings

4

In [13]:
print(type(text))
print(type(number))

<class 'str'>
<class 'int'>

In [14]:
print(text.upper()) # changes only strings to uppercase
print(number.bit_length()) #bit_length shows how many binary digits the number have

PEJU
5

In [15]:
#Baraa challenge
#create 5 variables each with a different datatype
#your age, your height, your name, are you a student, something with no value yet
name = input("enter your name:")
height = float(input("enter your height:"))
age = int(input("enter your age:"))
is_student = True
future_goals = None
print(name, height, age, is_student, future_goals) #output is tuple, collection of values
print(type((name)))

enter your name: peju
enter your height: 5.7
enter your age: 57

peju 5.7 57 True None
<class 'str'>

In [16]:
#print(type(height)) age, is_student, future_goals) # not possible, eaxh line must be executed separately
print(type(age))
print(type(is_student))
print(type(future_goals))
age = 18
print(type(age))

<class 'int'>
<class 'bool'>
<class 'NoneType'>
<class 'int'>

In [17]:
#len is used to count the number of characters in a string and to set conditions to conform to char length
password = "12345ab"
len(password)
print(len(password))
if len(password) < 8:
    print("your password is incorrect!")
    #len is used to count the number of characters in a string and to set conditions to conform to char length

7
your password is incorrect!

In [18]:
   #count the number of time a value appears and to check the quality for any outlier
text = """
peju is a fine girl
peju is so fine
a fine girl called peju
"""
text.count("peju")
print(text.count("peju"))

3

In [19]:
#To also detect if a value is missing or present
text = """
peju is a fine girl
peju is so fine
a fine girl called peju
does she have two peju?
"""
text.count("peju")
print(text.count("sokunle"))

0

In [20]:
#Replace is used for transformation, to replace one value in a line of code with another-
phonenumber = "123-456-789"
print(phonenumber.replace ("-", "/"))

123/456/789

In [22]:
#you can also replace with nothing e.g to take out chracters
phonenumber = "123-456-789"
print(phonenumber.replace ("-", ""))

123456789

In [23]:
#multiple values can also be replaced
price = "£2000,56"
print(price.replace("£", "$").replace(",", "."))

$2000.56

In [24]:
#Baraa Challenge
#transform phone number from +49 (176) 123-4567" to 00491761234567
phone = "+49 (176) 123-4567"

print(phone.replace("+", "00")    # 0049 (176) 123-4567
      
.replace(" ", "")                   # 0049(176)123-4567

.replace("(", "")                  # 0049176)123-4567

.replace(")", "")                  # 0049176123-4567

.replace("-", ""))                 # 00491761234567

00491761234567

In [26]:
#Write a Python script that prompts for a student's name and last exam grade. Add 50 to their score, and divide their score by 4. Save the result. Then print their name and their result

name = input("Enter your name:")
score = int(input("last_exam_grade:"))
new_score = (score + 50) / 4
print(name, score, new_score)

Enter your name: peju
last_exam_grade: 43

peju 43 23.25

In [27]:
#Concatenation
first_name = "peju"
second_name = "sokunle"
full_name = first_name + " " + second_name
print(full_name)

peju sokunle

In [28]:
first_name = "peju"
second_name = "sokunle"
full_name = first_name + " " + second_name
print(full_name)

peju sokunle

In [29]:
#F strings is used to format and build strings with variables and expressions
name = "peju sokunle"
age = 20
religion = "christianity"
is_nigerian = False
print(f"i am {name}, i am { age}, i was born a { religion} and nationality {is_nigerian}.")

i am peju sokunle, i am 20, i was born a christianity and nationality False.

In [30]:
#Split
dob = "1992-08-05"
print(dob.split("-"))
names = "peju tope sokunle"
print(names.split (" - "))

['1992', '08', '05']
['peju tope sokunle']

In [31]:
#string multiplier is used to repeat a value multiple times
print("peju" * 3)

pejupejupeju

In [32]:
#Data Extraction
#slicing and indexing
#python = 0,1,2,3,4,5, #positive indexing 
#python = -6, -5, -4, -3, -2, -1 #negative indexing
#extract the first character
text = "python"
print(text[0])
print(text[-6])
print(text[5])
print(text[-5:-3])

p
p
n
yt

In [33]:

dob = "1992-05-08"
print(dob[1:5])
print(dob[-6:])

992-
-05-08

In [34]:
#strips used to remove unwanted spaces
name = " peju sokunle"
name = " peju sokunle".lstrip()
print(name)

peju sokunle

In [35]:
name = "peju sokunle "
name = "peju sokunle ".rstrip()
print(name)

peju sokunle

In [36]:
name = " peju sokunle "
name = " peju sokunle".strip()
print(name)

peju sokunle

In [37]:
telephone = "+++490000+++"
telephone = "+++490000+++".strip("+")
print(telephone)

490000

In [38]:
#To check the amount of white spaces present or unwanted char in the data
telephone = "490000"
print(len(telephone))
print(len(telephone.strip()))
print (len(telephone) == len(telephone.strip())) #“Is the string the same length before and after removing leading/trailing spaces, false means it is not clean
print (len(telephone) - len(telephone.strip()))

6
6
True
0

In [39]:
#case conversion
name = "peju SOKUNLE"
print(name.lower())
name = "peju SOKUNLE"
print(name.upper())

peju sokunle
PEJU SOKUNLE

In [40]:
name = "Peju"
surname = "peju"
print(name == surname) #To check if the values are standardised all through
print(name.lower())
print(surname.lower())

False
peju
peju

In [41]:
name = "Peju".lower().strip() #cleaning the unwanted spaces and setting values to lower case
surname = "  peju".lower().strip()
print(name == surname)

True

In [43]:
#Baraa challenge
#Turn the messy string into a single clean summary with name, role and age
#"986-Maria ( D@t@ Engineer ) ;; 27y " to name: maria |role :data engineer | age: 27 and #what will be maria new age in 10 years divided by 4
raw_name = "986-Maria"
raw_role = "( D@t@ Engineer )"
raw_age = ";; 27y "
name = raw_name.replace("986-", "").strip().lower()
role = raw_role.replace("(", "").replace(")", "").replace("@", "a").strip().upper()
age = int(raw_age.replace(";", "").replace("y", "").strip())
age_in_10_years = (age + 10)
result = age_in_10_years/4
print(f"name: {name} | role: {role} | age: {age} | age_in_10_years: {age_in_10_years} | result: {result}")

name: maria | role: DATA ENGINEER | age: 27 | age_in_10_years: 37 | result: 9.25